#chat-header > * {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
#chat-header {
	background-color: #152934;
	color: #FFF;
	min-height: 60px;
  padding: 10px;
	text-align: center;
	max-height: 60px;
}
#chat-header h4{
	font-family: IBMPlexSans;
	margin-bottom: unset;
}
.icon-watson-test{
	height: 2em;

}
